/* imports */
@import './variables.scss';


/* Extends */

.enlaces{
    text-decoration: none;
    color: $color-black;
}

/* mixins */

@mixin display( $flex ){
    display: $flex;
}

/* imagen o logotipo */
.nav__logoSapt{
    img{
        height: 250px;
        width: 250px;
    }
}

/* Contenido */
.informacion{
    @include display( flex );
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

    section{
        div{
            text-align: center;
            a{
                @extend .enlaces;
                font-family: 'Rowdies', cursive;
                font-size:large;
            }
        }
    }
}


/* contenido  */
.contenido {  
    margin: 0 5%;
    @include display( flex );
    flex-direction: column;
    padding: 50px;

    figure{
        filter: grayscale(1);

        &:hover{
            filter: grayscale(0);
            transform: scale(1.2, 1.0);
        }
    }

}
